@model HouseBillsRaven.Models.AdminVm

@using(Html.BeginForm("Administer", "Person"))
{
    <table>
        <tr>
            <th>Person</th>
            <th>Active</th>
        </tr>
        @for (var i = 0; i<Model.People.Count;i++)
        {
            <tr>
                <td>@Html.HiddenFor(x => x.People[i].Id) @Model.People[i].Name</td>
                <td>@Html.CheckBoxFor(x => x.People[i].Alive)</td>
            </tr>
        }
    </table>
    <input type="submit" value="Save"/>
}

<p>Create New Person</p>

@using(Html.BeginForm("Create", "Person"))
{
    @Html.TextBox("Name")
    <input type="submit" value="Play God" />
}