<div id="tabs">
    <ul>
        <li><a href="#GeneralList">The General List</a></li>
        <li><a href="#Breakdown">Breakdown</a></li>
        <li><a href="#CreateAll">Create All</a></li>
        <li><a href="#CreateOne">Create One</a></li>
    </ul>
    <div id="GeneralList"></div>
    <div id="Breakdown"></div>
    <div id="CreateAll">@{ Html.RenderAction("CreateAll", "Debt"); }</div>
    <div id="CreateOne"></div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#tabs").tabs();
    });
</script>